{% assign itemClass = itemClass | default: 'post' %}

<div class="{{ itemClass }}">
  <img alt="{{ article.img.alt }}" src="{{ article.image.src | img_url: '300x200' }}" />

  <div class="post-inner">
    <h3>{{ article.title }}</h3>
    <p>{{ article.excerpt_or_content | strip_html | truncate: 150 }}</p>
    <a class="read-more" href="{{ article.url }}"><span>Read more</span></a>
  </div>
</div>
