{% assign additionalClasses = '' %}
{% if settings.header-navigation-location == 'drawer' %}
{% assign additionalClasses = 'collapsed-navigation' %}
{% endif %}

{% assign fullBleed = false %}
{% if template contains 'index' and settings.home-show-hero == false and settings.show-slideshow and settings.show-slide-1 or settings.show-slide-2 or settings.show-slide-3 or settings.show-slide-4 or settings.show-slide-5 %}
{% if settings.slideshow-layout == 'full-bleed' or settings.slideshow-layout == 'opening-screen' %}
{% unless settings.home-show-hero %}
{% assign fullBleed = true %}
{% endunless %}
{% endif %}
{% endif %}

{% if template == 'product.slideshow' %}
{% if settings.product-slideshow-layout == 'full-bleed' or settings.product-slideshow-layout == 'opening-screen' %}
{% assign fullBleed = true %}
{% endif %}
{% endif %}

{% if fullBleed %}
{% assign additionalClasses = additionalClasses | append: ' full-bleed-slideshow' %}

{% assign fullBleedIndex = false %}
{% assign fullBleedProduct = false %}

{% if template contains "index" %}
{% assign fullBleedIndex = true %}
{% if settings.header-bleed-colors-override == 'default' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-default-colors' %}
{% elsif settings.header-bleed-colors-override == 'light' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-light-colors' %}
{% elsif settings.header-bleed-colors-override == 'dark' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-dark-colors' %}
{% endif %}
{% elsif template contains "product" %}
{% assign fullBleedProduct = true %}
{% if settings.product-header-bleed-colors == 'default' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-default-colors' %}
{% elsif settings.product-header-bleed-colors == 'light' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-light-colors' %}
{% elsif settings.product-header-bleed-colors == 'dark' %}
{% assign additionalClasses = additionalClasses | append: ' header-bleed-dark-colors' %}
{% endif %}
{% endif %}

{% endif %}

{% if settings.header-sticky %}
{% assign additionalClasses = additionalClasses | append: ' sticky-header' %}
{% endif %}

{% unless settings.header-navigation-location == 'below-header' %}
{% if template contains 'index' %}
{% if settings.home-show-hero %}
{% if settings.home-hero-background-style == 'color' and settings.home-hero-background-color == settings.header-background-color %}
{% assign additionalClasses = additionalClasses | append: ' show-border' %}
{% endif %}
{% elsif settings.show-slideshow and settings.slideshow-layout == 'content-width' %}
{% assign additionalClasses = additionalClasses | append: ' show-border' %}
{% endif %}
{% else %}
{% if settings.background-color == settings.header-background-color %}
{% unless settings.body-background-use-image %}
{% assign additionalClasses = additionalClasses | append: ' show-border' %}
{% endunless %}
{% endif %}
{% endif %}
{% endunless %}

<div class="flash-sale-banner pseudo-desktop">
  <p class="p--text flash-sale-banner__text">Free Shipping on<span class="flash-sale-banner__desktop"> all</span> Orders Over $200*</p>
  <a role="button">
    <button class="a--cta">Shop now</button>
  </a>
</div>

<div class="main-header-wrapper {{ additionalClasses }}">
  <div class="before-header current-header header-area-part">
    <div class="main-header top-header">
      <div class="before-main-header">
        <div class="before-main-header-left">
          <div class="header-actions header-actions-left">
            <span class="drawer-toggle"></span>
          </div>
          <ul class="topmenulinklist">
            {% for link in linklists.top-menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="before-main-header-right">
          <div class="header-actions">
            <ul class="rightlist">
              {% if settings.show-currency-switcher %}
              <li class="currency-switcher">
                <div class="select-wrapper">
                  <div class="selected-currency"></div>
                  <select id="currencies" name="currencies">
                    {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
                    {% assign supported_codes = settings.currency-switcher-supported-currencies | split: ' ' %}
                    <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
                    {% for code in supported_codes %}
                    {% if code != shop.currency and codes contains code %}
                    <option value="{{ code }}">{{ code }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </li>
              {% endif %}
              {% if settings.header-show-search %}
              <li class="search-form">
                <form class="" action="/search" method="get">
                  <input class="" name="q" type="text" autocomplete="off">
                </form>
              </li>
              {% endif %}
              {% if settings.header-show-cart %}
              <li>
                <a class="cart-link right" href="#cart"><img src="https://cdn.besynchro.com/besynchro/icon-cart.svg" class="icon-cart" alt=""><span class="cart-count">{{ cart.item_count }}</span></a>
              </li>
              {% endif %}
              {% if settings.header-navigation-location == 'header' or settings.header-navigation-location == 'below-header' %}
              {% if shop.customer_accounts_enabled %}
              <li>
                <a href="/account" class="account-link">&#57348;</a>
              </li>
              {% endif %}
              {% endif %}
            </ul>
          </div>
          <div style="display:none;">
            <form action="/cart" method="post" id="cart">
              <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
                <li class="mm-subtitle slideout-title">
                  <p class="cart_title">Your Cart</p>
                  <a class="continue ss-icon" href="#cart"></a>
                </li>

                {% if cart.item_count == 0 %}
                <li class="empty_cart">{{ 'layout.general.empty_cart' | t }}</li>
                {% else %}
                {% for item in cart.items %}
                <li class="cart_item {% if forloop.last %}last_cart_item{% endif %}">
                  <p class="mm-counter">
                    <span class="ss-icon minus">&#x002D;</span><input type="number" min="0" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" /><span class="ss-icon plus">&#x002B;</span>
                  </p>
                  <a href="{{ item.url }}">
                    {% if item.image %}
                    <div class="cart_image">
                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                    </div>
                    {% endif %}
                    <div class="cart_item_details">
                      <div class="item_title">{{ item.title }}</div>
                      <strong class="price">{{ item.price | money }}</strong>
                    </div>
                  </a>
                </li>
                {% endfor %}
                <li class="mm-label">
                  <p class="mm-counter">{{ cart.total_price | money }}</p>
                  <a href="/cart">
                    <strong>{{ 'layout.general.subtotal' | t }}</strong>
                  </a>
                </li>

                <li class="mm-subtitle clearfix">
                  {% if settings.display_special_instructions %}
                  <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if settings.display_tos_checkbox %}
                  <p class="tos">
                    <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                    <label class="tos_label" for="sliding_agree">
                      {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                  </p>
                  {% endif %}

                  <input type="submit" id="cart-submit" class="action_button right checkout_button" value="{{ 'layout.general.checkout' | t }}" />
                  <a href="javascript:void(0)" class="action_button edit_cart right">{{ 'layout.general.continue_shopping' | t }}</a>
                </li>
                {% endif %}
              </ul>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="current-header logo-header">
    <header class="main-header" role="banner">
      <div class="branding">
        {% if settings.use-logo %}
        <a class="logo {% if settings.use-retina-logo %}has-retina{% endif %}" href="/">

          {% assign regularLogo = 'logo.png' | asset_url %}
          {% if fullBleedIndex and settings.home-bleed-use-logo %}
          {% assign regularLogo = 'bleed-logo.png' | asset_url %}
          {% elsif fullBleedProduct and settings.product-bleed-use-logo %}
          {% assign regularLogo = 'product-bleed-logo.png' | asset_url %}
          {% endif %}

          <img class="logo-regular" alt="{{ shop.name | escape }}" src="{{ regularLogo }}" data-regular="{{ 'logo.png' | asset_url }}">

          {% if settings.use-retina-logo %}

          {% assign retinaLogo = 'logo-retina.png' | asset_url %}
          {% if fullBleedIndex and settings.home-bleed-use-logo-retina %}
          {% assign retinaLogo = 'bleed-logo-retina.png' | asset_url %}
          {% elsif fullBleedProduct and settings.product-bleed-use-logo-retina %}
          {% assign retinaLogo = 'product-bleed-logo-retina.png' | asset_url %}
          {% endif %}

          <img class="logo-retina" alt="{{ shop.name | escape }}" src="{{ retinaLogo }}" data-retina="{{ 'logo-retina.png' | asset_url }}">
          {% endif %}
        </a>
        {% else %}
        <h1><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
      </div>

      <div class="header-tools">
        {% if settings.header-navigation-location == 'header' %}
        {% include 'navigation' %}
        {% endif %}
      </div>
    </header>
  </div>

  {% if template contains 'blog' or template contains 'article'  %}
  <div class="current-header header-area-part blog-header-section-only">
    <div class="main-header">
      <div class="after-header">
        <div class="after-header-inner">
          <div class="second-logo">
               <a href="/blogs/blog/tagged/nutrition"><img src="{{'secondary-logo.png' | asset_url}}"></a>
          </div>
          <div class="header-social-icons">
            <ul>
              {% if settings.header-show-tweet-url != blank %}
              <li>
                <a class="tweet footer-tweet" href="{{settings.header-show-tweet-url}}">

                </a>
              </li>
              {% endif %}
              {% if settings.header-show-facebook-url != blank %}
              <li>
                <a class="facebook footer-like" href="{{settings.header-show-facebook-url}}" >

                </a>
              </li>
              {% endif %}
              {% if settings.header-show-instagram-url != blank %}
              <li>
                <a class="instagram fi-social-instagram" href="{{settings.header-show-instagram-url}}" >

                </a>
              </li>
              {% endif %}
              {% if settings.header-show-pin-url != blank %}
              <li>
                <a class="pin footer-pin" href="{{settings.header-show-pin-url}}" >

                </a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="topicmenu">
            <ul class="topicmenulinklist">
              {% for link in linklists.topic-menu.links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% if settings.header-navigation-location == 'below-header' %}
{% unless fullBleed %}
<div class="header-navigation {% if settings.header-sticky %} sticky-header{% endif %}">
  {% include 'navigation' with 'below-header' %}
</div>
{% endunless %}
{% endif %}

<div class="flash-sale-banner pseudo-mobile">
  <p class="p--text flash-sale-banner__text">Free Shipping on<span class="flash-sale-banner__desktop"> all</span> Orders Over $200*</p>
  <a role="button">
    <button class="a--cta">Shop now</button>
  </a>
</div>

<div class="flash-sale-banner">
  <p class="p--text flash-sale-banner__text">Free Shipping on<span class="flash-sale-banner__desktop"> all</span> Orders Over $200<a class="flash-sale-asterisk" href="#bottom">*</a></p>
  <a role="button" href="https://besynchro.com/collections/shop">
    <button class="a--cta">Shop now</button>
  </a>
</div>

<div class="header-drawer">
  <form class="" action="/search" method="get" id="header-search">
    <input class="" name="q" type="text" placeholder="What do you seek?" autocomplete="off">
    <button type="submit" form="header-search" value="Submit" class="search-button"></button>
  </form>

  <div class="navigation-header">
    <h2><a href="https://besynchro.com/collections/shop"> Shop </a> </h2>
    {% include 'navigation' %}
  </div>

  <div class="navigation-header topicmenu">
    <h2><a href="https://besynchro.com/blogs/blog"> Articles </a> </h2>
    <ul class="topicmenulinklist">
      {% for link in linklists.topic-menu.links %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  {% if shop.customer_accounts_enabled %}
  <a href="/account" class="drawer-account-link"><span class="icon">&#57351;</span> {{ 'general.general.my_account' | t }}</a>
  {% endif %}
</div>

{% include 'for-blog-pages' %}
