<div class="home-module-wrapper {{ settings.home-featured-blog-style }} rows-of-{{ settings.home-featured-blog-num-posts }}">
  <div class="home-module home-featured-blog">

    {% if settings.home-featured-blog-title != blank %}
      <h3 class="section-title">{{ settings.home-featured-blog-title }}</h3>
    {% endif %}

    {% for article in blogs[settings.home-featured-blog].articles limit: settings.home-featured-blog-num-posts %}

      {% assign src = false %}
      {% assign img_tag = '<img' %}
      {% if article.excerpt_or_content contains img_tag %}
        {% assign src = article.excerpt_or_content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first %}
      {% endif %}

      <article class="home-featured-blog-post">

        {% if src %}
          <a class="featured-post-image" href="{{ article.url }}"><img src="{{ src }}">
        {% endif %}

        <h4 class="featured-post-title">{{ article.title }}</h4>

        {% if article.excerpt != blank %}
          <p class="featured-post-excerpt">{{ article.excerpt | strip_html }}</p>
        {% else %}
          <p class="featured-post-excerpt">{{ article.content | strip_html | truncatewords: 23 }}</p>
        {% endif %}
        <p class="featured-blog-read-more">{{ 'blogs.article_item.read_more' | t }}</p></a>
      </article>
    {% endfor %}

  </div>
</div>
