<section class="rejuve-section rejuve-joints">
    <h2 class="rejuve-joints__title">Your joints, explained.</h2>
    <div class="rejuve-joints__content" id="rejuve-joints-container">
        <div class="rejuve-joints__info-left rejuve-joints__info-textbox" id="rejuve-joints-textbox-left">
            <div class="rejuve-joints__line rejuve-joints__line--left" id="left-line"></div>
            <img src="{{ 'rejuve-joint.png'| asset_url}}" alt="Joint" class="rejuve-joints__info-image-mobile" width="200" height="200">
            <h3 class="rejuve-joints__info-title"><em>Regenerating Synovial Fluid for Joint Lubrication</em> (via
                BioHyaluronic™)</h3>
            <div class="rejuve-joints__writeup">
                <p>
                    Our knees, hips, wrists, shoulders, elbows (and many other joints) depend on healthy synovial fluid
                    to lubricate the joint capsules and minimize friction. Healthy synovial fluid is composed almost
                    entirely of a remarkably low-friction complex of Hyaluronic Acid bound to phospholipids.
                </p>
                <p>
                    As we age, our synovial fluid degrades, leading to joint stiffness and pain. Reversing this process
                    is the key to restoring joint smoothness, flexibility and comfort.
                </p>
                <p>
                    With Re·juve, we developed BioHyaluronic™, a breakthrough complex of Hyaluronic Acid and
                    phospholipids that rebuilds synovial fluid in the joint. (more on BioHyaluronic™ in the ingredients
                    section below)
                </p>
            </div>
        </div>
        <img src="{{ 'rejuve-joint.png'| asset_url}}" alt="Joint" class="rejuve-joints__central-image" width="242" height="242" id="rejuve-central-image">
        <div class="rejuve-joints__info-right rejuve-joints__info-textbox" id="rejuve-joints-textbox-right">
            <div class="rejuve-joints__line rejuve-joints__line--right" id="right-line"></div>
            <img src="{{ 'rejuve-joint.png'| asset_url}}" alt="Joint" class="rejuve-joints__info-image-mobile" width="200" height="200">
            <h3 class="rejuve-joints__info-title"><em>Protecting + Regenerating Cartilage</em> (via Liposomal Glutathione +
                Aronia Extract)</h3>
            <div class="rejuve-joints__writeup">
                <p>
                    Cartilage sits on the contact surfaces of our bones, functioning as cushioning for our joints. As we
                    age, our cartilage is subjected to oxidative degeneration, breaking down the cartilage and rendering
                    it less effective. The result is friction, pain and inflammation in the joint.
                </p>
                <p>
                    Re·juve uses two strategies to protect cartilage from oxidative degeneration and stimulate
                    regeneration: Liposomal Glutathione and Aronia Extract (see why below).
                </p>
            </div>
        </div>
    </div>
    <img src="{{ 'rejuve-joints-leaf-top-right.png'| asset_url}}" alt="Leaf" class="rejuve-joints__leaf-top-right wow animate__fadeInRight" width="357" height="475">
    <img src="{{ 'rejuve-joints-leaf.png'| asset_url}}" alt="Leaf" class="rejuve-joints__leaf-bottom-left wow animate__fadeInLeft" width="426" height="475">
</section>