
<section class="rejuve-section rejuve-quality">
    <ul class="rejuve-quality__items">
        <li class="rejuve-quality__item wow animate__fadeInUp">
            <img class="rejuve-quality__item-icon" src="{{ 'icon-organic-ingredients.svg' | asset_url }}" alt="Organic Ingredients">
            <span class="rejuve-quality__item-label">Organic Ingredients</span>
        </li>
        
        <li class="rejuve-quality__item wow animate__fadeInUp" data-wow-delay="30ms">
            <img class="rejuve-quality__item-icon" src="{{ 'icon-plant-based.svg' | asset_url }}" alt="100% Plant Based">
            <span class="rejuve-quality__item-label">100% Plant Based</span>
        </li>
        
        <li class="rejuve-quality__item wow animate__fadeInUp" data-wow-delay="60ms">
            <img class="rejuve-quality__item-icon" src="{{ 'icon-gluten-free.svg' | asset_url }}" alt="Gluten Free">
            <span class="rejuve-quality__item-label">Gluten Free</span>
        </li>
        
        <li class="rejuve-quality__item wow animate__fadeInUp" data-wow-delay="90ms">
            <img class="rejuve-quality__item-icon" src="{{ 'icon-non-gmo.svg' | asset_url }}" alt="Non-GMO">
            <span class="rejuve-quality__item-label">Non-GMO</span>
        </li>
        
        <li class="rejuve-quality__item wow animate__fadeInUp" data-wow-delay="120ms">
            <img class="rejuve-quality__item-icon" src="{{ 'icon-cgmp-certified.svg' | asset_url }}" alt="CGMP Certified">
            <span class="rejuve-quality__item-label">CGMP Certified</span>
        </li>
    </ul>
</section>