{% assign shareCountClass = '' %}

{% if template contains 'article' or template contains 'blog' %}

{% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}

{% unless settings.blog-display-share-count %}
{% assign shareCountClass = 'no-count' %}
{% endunless %}

{% elsif template contains 'product' %}

{% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}

{% unless settings.product-display-share-count %}
{% assign shareCountClass = 'no-count' %}
{% endunless %}

{% endif %}

<div class="share-buttons {{ shareCountClass }}" data-permalink="{{ permalinkURL }}">
  <ul>
    <li>
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook"><span>{{ 'general.social.facebook' | t }}</span> <span class="share-count"></span></a>
    </li>
    <li>
      <a target="_blank" data-pin-do="buttonBookmark" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;description={{ product.title | escape }}" class="share-pinterest"><span>{{ 'general.social.pinterest' | t }}</span><span class="share-count"></span></a>
    </li>
  </ul>
</div>

<script type="text/javascript" async defer data-pin-custom="true" src="
//assets.pinterest.com/js/pinit.js"></script>
